html, body, div {
  padding: 0;
  border: 0;
  margin: 0;
}
div {
  margin: 0 auto;
}
#one {
  position: relative;
  border: 5px solid black;
  width: 495px;
  height: 500px;
}
#two {
  position: absolute;
  right: 500px;
  top: -5px;
  border: 5px solid red;
  width: 200px;
  height: 500px;
}
body {
  font-weight:  bold;
}
