html, body, div {
  padding: 0;
  border: 0;
  margin: 0;
}
div {
  background-color: tomato;
  border: 5px solid red;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#one {
  position: relative;
  left: 20px;
  top: 20px;
}
body {
  align-items: center;
}
