h1 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 3rem;
  /* font-style: italic; */
  font-variant: small-caps;
  line-height: 2;
  /* line-height: normal;
  line-height: 1; */
  border: 1px dashed hotpink;
}
