svg, use, pre {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
    font-family: 'Cantarell', sans-serif;
    color: whitesmoke;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 2.8rem;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  /* border: 2px solid green; */
}

.hlogname, .hnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 .5rem;
  /* border: 1px solid blue; */
}

.hlogname {
     width: 16rem;
     /* border: 1px solid Aqua; */
}

.hnav {
     width: 16rem;
     display: none;
     /* border: 1px solid GreenYellow; */
}

.logo {
  display: none;
}

header a {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 .1rem;
  /* border: 1px solid orange; */
}

header a:hover {
  color: SpringGreen;
}

svg {
   /* border: 2px solid red; */
}

header h1 {
  font-size: 1.5rem;
}


#idx-atf {
    /* layout */
    /* margin-top: 10vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background */
    /* background-color: #5b5b5b; */
    background-image: url("../img/background-photo-mobile-devices.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-origin: border-box;*/
    background-attachment: fixed;
    /* formatting */
    /* border: 2px solid pink; */
}

#idx-atf > div {
    height: 80vh;
    width: 100%;
    /* border: 2px solid lime; */
}

.idx-center-spacebetween {
    margin-top: 10vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid GreenYellow; */
}

.idx-center-center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid Indigo; */
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: .8rem;
    line-height: 1.2;
}

button {
    color: SpringGreen;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid SpringGreen;
    padding: .5rem 1rem;
    border-radius: 5px;
}

ul {
  /* border: 1px solid Crimson; */
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: deepskyblue;
  height: 2.2rem;
  /* border: 1px solid Maroon; */
}

li a, li h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: 2px solid orange; */
}

li:hover {
  background-color: royalblue;
}
/*
li svg {
  width: 30%;
  height: 100%;
} */

li h3 {
  color: whitesmoke;
  font-size: 1.2rem;
  margin-top: 0;
  margin-left: 1rem;
  /* border: 2px solid blue; */
}

.mlogo {
  margin-left: 1.5rem;
  width: 2rem;
  height: 100%;
  fill: currentColor;
}

.mlogo:hover {
  fill: SpringGreen;
}
